<div class="col-xs-4 col-xs-offset-4">

  <h1>Add a dose to the <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, prompt: "Choose an ingredient" %>
    <%= f.input :description, placeholder: "4cl, half a lime, ..." %>
    <%= f.submit "Add", class: "btn btn-primary"%>
    <%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-danger" %>
  <% end %>

</div>

